.slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* because we want the element on the inside of the slide to be out of view when it's within that frame*/
}

.slide img {
    display: inline-block;
    vertical-align: middle; /* to align that image within the middle of the element */
}

.slide-content {
    position: absolute;
    /* because we're going to remove that content (the big box that's going to slide in and out) */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* so it fits perfectly i.e. each side is anchored to every respective side */
    width: 100%;
    height: 100%;
    /* doing this to make it span to the full size of it's parent element */
    z-index: 1;
    display: flex;
    /* flexbox is specifically for visual modifications */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(225, 35, 69, 0.9);
    padding: 20px; /* so it doesn't go out into the edge of the parent */
    color: white;
    box-sizing: border-box; /* so there is no extra width added by the padding */
    transition: transform 0.3s ease;
}

    .slide:hover .slide-content {
        transform: translate(0,0);
    }

/* DIRECTIONS */

.slide-top .slide-content {
    transform: translate(0, -100%);
    /* using TRANSLATE - which is better for ANIMATIONS than POSITIONS - because of it's pixel smoothness
    that is, it takes smaller steps (o.1 -> 0.2 -> 0.3 etc) rather than 1px -> 2px etc which is what POSITIONS does*/
}

.slide-right .slide-content {
    transform: translate(-100%, 0);
}

.slide-bottom .slide-content {
    transform: translate(0, 100%);
}

.slide-left .slide-content {
    transform: translate(100%, 0);
}

.slide-top-left .slide-content {
    transform: translate(-100%, -100%);
}